.md-grid {
  max-width: 1440px; 
}

@media screen {
    [data-md-color-scheme=default] {
        --md-code-hl-color: #4287ff26;
        --md-code-hl-number-color: #e6695b;
        --md-code-hl-special-color: #f06090;
        --md-code-hl-function-color: #c973d9;
        --md-code-hl-constant-color: #9383e2;
        --md-code-hl-keyword-color: #6791e0;
        --md-code-hl-string-color: #2fb170;
        --md-code-hl-name-color: var(--md-code-fg-color);
        --md-code-hl-operator-color: var(--md-default-fg-color--light);
        --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
        --md-code-hl-comment-color: var(--md-default-fg-color--light);
        --md-code-hl-generic-color: var(--md-default-fg-color--light);
        --md-code-hl-variable-color: var(--md-default-fg-color--light);
    }    
}
